@import "./css/normalize.css";
@import "./css/vendor.css";
@import "./css/style.css";
@import "./css/icomoon.css";

.page {
    min-height: 50vh;
}

.logo-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:checked {
    background-color: #c5a992;
    border-color: #c5a992;
}