@import "./css/normalize.css";
@import "./css/style.css";

.page {
    min-height: 50vh;
}

.logo-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check-input:checked {
    background-color: rgb(242, 137, 63);
    border-color: rgb(154, 75, 20);
    box-shadow: 0 0 4px 4px #c5a992;
}

.form-check-input:focus {
    box-shadow: 0 0 4px 4px #c5a992;
    border-color: rgb(154, 75, 20);
}
.card {
    border: None;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn-img {
    width: 120px;
}

.btn-img:hover {
    border: 1px #c5a992 solid;
    border-radius: 50%;
    cursor: pointer;
}


.btn-trash {
    position: absolute;
    top: 5px;
    right: 10px;
}

.btn-trash:hover {
    color: tomato;
    cursor: pointer;
}

.btn-hover:hover {
    color: rgb(242, 137, 63);
    cursor: pointer;
}
.img-404 {
    width: 100%;
}

.sim-badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.float-right {
    position: absolute;
    right: 5px;
    top: 5px;
}

.dropdown-item:hover {
    color: rgb(242, 137, 63);
    cursor: pointer;
}

.tip-title{
    color: rgb(242, 137, 63);
    font-weight: bold;
}